page-membership {

  .box1{
     border: 1px solid black;
     position: absolute;
     top: 20%;
     left: 30%;
   }

  .box2{
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 27%;
  }

}
