<ion-header style="width: 385px">
  <ion-navbar color="royalblue">
    <ion-title>Create a New Goal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="formGroup" (ngSubmit)="saveGoal(formGroup.value)">

    <ion-item>
      <ion-label>Activity</ion-label>
      <ion-input type="text" name="activity" formControlName="activity" required></ion-input>
      <div class="alert" *ngIf="!formGroup.controls['activity'].valid &&
           formGroup.controls['activity'].touched">{{ activityAlert }}</div>
    </ion-item>

    <ion-item text-wrap>
      <ion-label>Duration</ion-label>
      <ion-textarea autosize type="number" name="duration" formControlName="duration" required></ion-textarea>
      <div class="alert" *ngIf="!formGroup.controls['duration'].valid &&
      formGroup.controls['duration'].touched">{{ durationAlert }}</div>
    </ion-item>

  </form>

  <div style="text-align: center; padding-top: 90px;">
    <button (click)="saveGoal(formGroup.value)" ion-button style="color: white; background-color: #488AFF;">Save</button>
    <button ion-button color=488AFF>Email</button>
  </div>

</ion-content>