.login-page{
  background-color: #6d84d6;
}

#image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 50%;
  top: 25%;
}

#logIn{
  position: absolute;
  top: 60%;
  left: 37%;
}

ion-row{
  align-items: center;
  text-align: center;
}

ion-item{
  border: 0;
}

ion-item.fixInput{
  height: 0;
}

.item{
  min-height: 0rem;
}

ion-input{
  border: 0;
}

.login-box{
  padding: 10px 10px 0px 10px;
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%;
  border: 1.5px solid;
  border-radius: 15px;
  background-color: #ffffff;
}

.signup-col {
  margin: 0px 16px 0px 16px;
  padding-bottom: 20px;
}

.submit-btn {
  background: #488aff;
  border-radius: 30px !important;
}


