#image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 50%;
  top: 25%;
}

#border{
  position:absolute;
  width: 300px;
  height: 100px;
  top: 39%;
  left: 5%;
  border: 1.5px solid;
  color: grey;
  border-radius: 15px;
}


.fields{
  position: absolute;
  width: 275px;
  top: 40%;
  left: 8%;
}

#logIn{
  position: absolute;
  top: 60%;
  left: 37%;
}

#signUp{
  position: absolute;
  top: 76%;
  left: 38%;
}

#accountText{
  position: absolute;
  top: 70%;
  left: 24%;
  color: gray;
}


