page-blankdoc {

  #saveBtn{
    background-color: gray;
    color: white;
  }

  #header{
  }

  #Input {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
  }

}
