.goalButtons {
  color: white;
  background-color: green;
  float: right;
  border: white;
  border-radius: 60px;
  padding-top: 10px;
}
.goalText {
  color: #A9A9A9;
  text-align: left;
  padding-top: 10px;
}
