page-write-now {

}

.writeNowWords{
  position: absolute;
  padding-top: 2%;
}

.addButton{
 // position: absolute;
  padding-left: 70%;
  padding-top: 3.5%;
  //padding-bottom: 100%;
}

.button-inner{
  justify-content: center;
}

#todoInput{
  border-radius: 10px;
  border: 1.5px solid #488aff;
  margin-bottom: 5%;
}

.todoEditButtons{
  justify-content: center;
  align-content: center;
}
